:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png'); 
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decor-color-button-transparent: rgb(255, 0, 112, 0.4);
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --decor-color: #ff0070;
  --title-decor-color: #000028;
}


.theme-dark .header__corner-item {
  display: flex;
}