:root.theme-light {
  --bg-image: url('../images/cover-image-light.png'); 
  --bg-color: #ffe9f4;
  --accent-color: #ff8dcb;
  --decor-color-button-transparent: rgb(53, 52, 48, 0.4);
  --heading-color: #ffc2e6;
  --text-color: #353430;
  --decor-color: #353430;
  --title-decor-color: #353430;
}

.theme-light .header__corner-item {
  display: none;
}


@media (prefers-color-scheme: light) {  
  :root {
  --bg-image: url('../images/cover-image-light.png'); 
  --bg-color: #ffe9f4;
  --accent-color: #ff8dcb;
  --decor-color-button-transparent: rgb(53, 52, 48, 0.4);
  --heading-color: #ffc2e6;
  --text-color: #353430;
  --decor-color: #353430;
  --title-decor-color: #353430;
  }

  .header__corner-item {
    display: none;
  }
} 